* {
	box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	text-overflow: ellipsis;
	text-rendering: optimizeLegibility;

	@media (prefers-reduced-motion: reduce) {
		&,
		&:after,
		&:before {
			animation-duration: 0.0001s !important;
			animation-delay: 0.0001s !important;
			transition-duration: 0.0001s !important;
			transition-delay: 0.0001s !important;
		}
	}
}

body, html {
	min-height: 100vh;
	width: 100%;
}

html {
	font-size: 10px;
}

body {
	background-color: var(--main-background-color);
	color: var(--text-color);
	overflow: hidden;
}
